---
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
import SubTitle from "../components/SubTitle.astro";
import Article from "../components/Article.astro";
import MainHeading from "../components/MainHeading.astro";
import SubHeading from "../components/SubHeading.astro";
import SubSubHeading from "../components/SubSubHeading.astro";
import Body from "../components/Body.astro";
import Code from "../components/Code.astro";
import CodeBlock from "../components/CodeBlock.astro";
import Math from "../components/Math.astro";
---

<Layout title="Welcome to Astro.">
  <Article>
    <Title label="Philosophy of machine learning" />
    <SubTitle label="HELLO" />
    <MainHeading label="Introduction" />
    <SubHeading label="I AM SUB HEADING" />
    <SubSubHeading label="I AM SUB SUB HEADING" />
    <Body>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </Body>
    <CodeBlock code="var a = 20;" />
    <Math is:raw> x = \frac{-b \pm \sqrt{b^2 - 4ac}}{2a} </Math>
  </Article>
</Layout>
