<div class="code-output">
  <p class="output-label">Output</p>
  <slot />
</div>

<style>
  .output-label {
    font-size: 14px;
  }
  .code-output {
    border: 1px solid #cbd5e1;
    padding: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
</style>
