<header>
  <div class="logo">
    <div class="main-logo">ML</div>
    <div class="sub-logo">World</div>
  </div>
  <a href="https://github.com/lukonik/publisher" target="_blank" aria-label="GitHub">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="black"
    >
      <path
        d="M12 0C5.37 0 0 5.37 0 12c0 5.3 3.438 9.8 8.205 11.385.6.11.82-.26.82-.577 0-.285-.01-1.04-.015-2.04-3.338.726-4.043-1.61-4.043-1.61-.546-1.386-1.333-1.756-1.333-1.756-1.09-.746.082-.73.082-.73 1.204.084 1.84 1.236 1.84 1.236 1.07 1.834 2.81 1.305 3.495.997.108-.775.418-1.305.76-1.605-2.666-.305-5.467-1.334-5.467-5.933 0-1.31.468-2.38 1.235-3.22-.123-.304-.535-1.527.118-3.177 0 0 1.007-.323 3.3 1.23.957-.267 1.98-.4 3-.404 1.02.004 2.043.137 3 .404 2.29-1.554 3.295-1.23 3.295-1.23.655 1.65.244 2.873.12 3.177.77.84 1.235 1.91 1.235 3.22 0 4.61-2.807 5.624-5.482 5.92.43.37.823 1.103.823 2.22 0 1.605-.015 2.896-.015 3.292 0 .32.218.694.825.577C20.565 21.795 24 17.298 24 12 24 5.37 18.63 0 12 0z"
      ></path>
    </svg>
  </a>
</header>

<style>
  header {
    background-color: white;
    color: black;
    height: 56px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #94a3b8;
    justify-content: space-between;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 4px;
    user-select: none;
    cursor: pointer;
  }
  .sub-logo {
  }
  .main-logo {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #ea580c;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
  }
</style>
